body {
  font-family: sans-serif;
  background-image: linear-gradient(180deg, purple, red);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}
h1 {
  text-align: center;
  font-size: 60px;
  color: white;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-style: oblique;
}

hr {
  width: 90%;
  background-color: #C71585;
  box-shadow:
  0 0 4px #fff,
  0 0 9px #fff,
  0 0 17px #fff,
  0 0 25px #fff,
  0 0 38px #C71585,
  0 0 50px #C71585,
  0 0 65px #C71585;
  height: 3px;

}


div {
  text-align: center;
  font-size: 40px;
}

div2 {
  text-align: center;
  font-size: 35px;
  font-family: "Lucida Console", "Courier New", monospace;
}

div3 {
  text-align: center;
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
}

button {
  display: inline-block;
  margin-left: 75px;
  margin-right: 70px;
  font-size: 32px;
  border-radius: 15px;
  border: 4px solid	#4B0082;
  width: 150px;
  padding-top: 7px;
  padding-bottom: 7px;

  background-image: linear-gradient(to right, #7b4397 0%, #dc2430  51%, #7b4397  100%);

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;

}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

iframe {
  margin-left: 4em;
}
